# DB settings
POSTGRES_DB=color_seasons

# General settings
DJANGO_SETTINGS_MODULE=color_seasons.settings.base
DJANGO_SECRET_KEY='ZtJ+?lgobAl#<1B>BwEWTBIhJmJ<8T)X.F_52U#u+dud-Jg_4H'
DJANGO_ALLOWED_HOSTS=localhost,example.com.hexxie.com,.example.com

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False
